.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); // Hauteur de la viewport moins la navbar
  overflow: hidden;
}

.header {
  flex-shrink: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
}