.containerNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.brand {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 20px;

  img {
    height: 64px;
  }

  p {
    margin: 0;
    color: #111;
    font-style: italic;
  }
}
